* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8vh;
	background-color: white;
	padding: 0 3vw;
	z-index: 500;
	font-size: 20px;
}

header .logo {
	color: #7c3aed;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
	font-weight: bold;
	cursor: default;
}

nav {
	display: flex;
	width: 60%;
	background-color: inherit;
	justify-content: space-evenly;
}

nav a {
	font-size: 22px;
	color: rgb(158, 158, 158);
	text-decoration: none;
}

.fa-bars {
	display: none;
}

nav a:hover {
	color: #7c3aed;
}

main {
	margin-top: 8vh;
}

main h1 {
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.content h1 span {
	color: #7c3aed;
}

.first-section {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

.content {
	background-color: white;
	padding: 10px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 400px;
}

#intro-hero {
	display: flex;
	justify-content: space-around;
	padding: 30px 50px;
	/* background-color: pink; */
	width: 50vw;
	flex-basis: 50vw;
}

#intro-hero h1 {
	font-size: 4.2vw;
}

.content h1 {
	font-size: 5.1vw;
}

.content p {
	font-size: 1.5vw;
	color: rgb(117, 117, 117);
}

.first-section .image-container img {
	clip-path: polygon(34% 0, 100% 0, 100% 100%, 20% 100%);
	height: 90vh;
}

.intro-buttons button {
	margin-top: 20px;
	margin-right: 10px;
	padding: 20px 30px;
	font-size: 23px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
}

.intro-buttons button:first-child {
	background-color: #5b3aed;
	color: white;
}

.intro-buttons button:first-child:hover {
	background-color: #6e4eff;
}

.intro-buttons button:last-child {
	background-color: aliceblue;
	color: #5b3aed;
}

.intro-buttons button:last-child:hover {
	background-color: rgb(222, 240, 255);
}

button:focus {
	outline: none;
}

.second-section {
	margin: 20vh 5vw;
}

.second-section .features-heading {
	/* margin: 0 auto; */
	font-size: 20px;
	text-align: center;
	padding: 0 10vw;
	color: rgb(117, 117, 117);
}

.second-section .features-heading h1 {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.features {
	margin: 50px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	min-height: 40vh;
}

.feature {
	width: 40vw;
	display: flex;
}

i {
	background-color: #521ab3;
	color: white;
	padding: 10px;
	border-radius: 5px;
	height: 35px;
	width: 50px;
	margin: 10px;
}

.third-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5vh 10vw;
}

.team-content h1 {
	font-size: 3vw;
	margin-bottom: 10px;
}

.avatar img {
	height: 100px;
	width: 80px;
	border-radius: 50%;
}

.third-section .team-content {
	width: 100%;
	font-size: 20px;
	color: rgb(117, 117, 117);
}

.avatars-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.avatar {
	width: 40%;
	margin: 10px 10px;
	display: flex;
}

.avatar-name {
	font-size: 25px;
	font-weight: bold;
}

.avatar-post {
	font-size: 18px;
	color: #7c3aed;
	font-weight: bold;
}

.avatar > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
}

.fourth-section {
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
}

.fourth-section img {
	width: 50%;
}

.fourth-section .support-content {
	background-color: #441d88;
	width: 50%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
}

.fourth-section .support-content span {
	color: rgb(189, 189, 189);
}

.fourth-section .support-content h2 {
	font-size: 38px;
}

.fourth-section .support-content p {
	font-size: 20px;
	color: rgb(231, 231, 231);
}

.fourth-section .support-content button {
	height: 50px;
	width: 300px;
	margin-top: 30px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	background-color: white;
	border-radius: 20px;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: rgb(224, 224, 224);
}

.info {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: rgb(100, 100, 100);
	padding: 30px 30px;
	font-size: 23px;
}

.info i {
	background-color: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

.info i:hover {
	color: rgb(71, 71, 71);
}

.links {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 4vh;
}

.links span {
	color: rgb(141, 141, 141);
	font-size: 18px;
}

.links ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 15vh;
}

.links ul li {
	cursor: pointer;
}

.newsletter-section {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	overflow-x: hidden;

	/* background-color: red; */
}

main {
	overflow-x: hidden;
}

.newsletter-section .content {
	flex-basis: 50vw;
}

.newsletter-section img {
	width: 50vw;
	clip-path: polygon(27% 0, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.newsletter-section h2 {
	font-size: 40px;
}

.input-group input {
	font-size: 25px;
	margin-right: 10px;
	padding: 8px;
	margin-top: 30px;
}

.input-group button {
	padding: 13px 20px;
	font-size: 20px;
	border-radius: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.stats-section {
	display: flex;
	/* margin: 20vh 0; */
	min-height: 100vh;
	align-items: center;
	background-color: rgb(236, 236, 236);
}

.stats-section img {
	width: 50%;
}

.stats-info {
	width: 50%;
	margin: 0 5%;
}

.stats-info h1 {
	font-size: 40px;
}

.stats-info p {
	color: rgb(158, 158, 158);
	font-size: 20px;
}

.stats-info span img {
	display: none;
}

.stats-numbers {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 40px;
}

.stats-numbers span h3 {
	color: #7c3aed;
	font-size: 35px;
}

.stats-numbers span {
	font-size: 25px;
	min-width: 70px;
	margin: 10px 0;
}

.companies {
	background-color: #ddddff;
	min-height: 60vh;
	color: rgb(70, 42, 172);
	padding: 8vh 2vw;
}

.companies h2 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10vh;
}

.company-images {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.company-images span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	min-height: 30%;
	min-width: 30%;
	margin: 3vh 0;
	cursor: default;
}

.company-images i {
	background-color: inherit;
	color: inherit;
	font-size: 40px;
	align-self: flex-end;
	/* background-color: red; */
	height: 100%;
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	header .logo {
		font-size: 25px;
	}

	nav a {
		font-size: 15px;
	}
	.first-section {
		flex-direction: column;
	}

	.first-section .image-container img {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		/* height: 60vh; */
		height: auto;
		width: 100vw;
	}

	#intro-hero {
		width: 100vw;
	}
	#intro-hero h1 {
		font-size: 6vw;
	}

	.content p {
		font-size: 3vw;
	}

	.intro-buttons button {
		padding: 10px 20px;
		font-size: 15px;
	}

	.features {
		margin: 35px 8px;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.feature {
		width: 80vw;
		margin: 10px 0;
	}

	.third-section {
		flex-direction: column;
		height: 80vh;
	}

	.team-content h1 {
		font-size: 35px;
	}
	.avatar img {
		height: 80px;
		width: 60px;
	}
	.avatar-name {
		font-size: 20px;
	}
	.avatar-post {
		font-size: 15px;
	}

	.fourth-section {
		margin-top: 40vh;
		flex-direction: column-reverse;
		margin-bottom: 10vh;
	}
	.fourth-section img,
	.fourth-section .support-content {
		width: 100%;
	}

	.fourth-section .support-content button {
		height: 40px;
		width: 200px;
		font-size: 15px;
	}

	footer {
		flex-direction: column;
	}

	.info {
		width: 100%;
	}
	.contact-icons {
		display: flex;
		justify-content: space-around;
	}
	.info i {
		font-size: 18px;
	}

	.links {
		padding: 0px 20px;
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		height: 45vh;
		justify-content: space-evenly;
		align-items: space-around;
	}

	.newsletter-section h2 {
		font-size: 30px;
	}

	.newsletter-section p {
		font-size: 18px;
	}

	.newsletter-section .content {
		padding-left: 30px;
		padding-right: 0;
		flex-basis: 30vw;
		width: 40vw;
	}

	.input-group input {
		font-size: 18px;
	}

	.input-group button {
		font-size: 15px;

		margin-top: 10px;
		margin-bottom: 20px;
	}

	.stats-section > img {
		display: none;
	}
	.stats-info {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.stats-info h1 {
		text-align: center;
	}

	.stats-info > span {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-top: 30px;
	}

	.stats-info p {
		padding-right: 10px;
	}

	.stats-info span img {
		display: block;
		height: 20vh;
	}

	.stats-numbers span h3 {
		color: #7c3aed;
		font-size: 30px;
	}

	.stats-numbers span {
		font-size: 20px;
	}

	.companies h2 {
		font-size: 35px;
	}

	.company-images span {
		font-size: 25px;
	}

	.company-images i {
		font-size: 35px;

		padding-right: 30px;
	}
}

@media screen and (max-width: 414px) {
	.fa-bars {
		display: block;
		padding: 0;
		margin: 0;
		color: black;
		background-color: inherit;
		padding: 8px;
		cursor: pointer;
		position: relative;
	}
	header {
		justify-content: space-around;
	}
	.fa-bars:hover nav {
		display: flex;
		flex-direction: column;
		min-height: 30vh;
		position: absolute;
		left: -45px;
		background-color: white;
		width: 130px;
		padding-left: 10px;
		border-radius: 0 0 10px 10px;
	}
	nav {
		display: none;
	}

	.content {
		background-color: white;
		padding: 0px 40px;
		flex-basis: 300px;
	}

	.intro-buttons button {
		padding: 10px 20px;
		font-size: 12px;
	}

	.content p {
		font-size: 3.5vw;
	}

	.second-section .features-heading h1 {
		font-size: 30px;
	}
	.avatars-group {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
	}

	.fourth-section {
		margin-top: 50vh;
		margin-bottom: 10vh;
	}
	.newsletter-section {
		flex-direction: column;
	}
	.newsletter-section .content {
		width: 100vw;
		padding: 10px 20px;
	}
	.newsletter-section img {
		width: 100vw;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.stats-info > span {
		flex-direction: column-reverse;
	}

	.stats-info span img {
		width: 100%;
		margin: 20px 0;
	}

	.stats-numbers span h3 {
		color: #7c3aed;
		font-size: 26px;
	}

	.stats-numbers span {
		font-size: 18px;
	}

	.companies h2 {
		font-size: 30px;
	}

	.company-images span {
		font-size: 20px;
	}

	.company-images i {
		font-size: 30px;
		padding-right: 25px;
	}

	.company-images span {
		justify-content: space-around;
	}
}
