* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 8vh;
	background-color: white;
	padding: 0 3vw;
	z-index: 500;
	font-size: 20px;
}

header .logo {
	color: #7c3aed;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
	font-weight: bold;
	cursor: default;
}

nav {
	display: flex;
	width: 60%;
	background-color: inherit;
	justify-content: space-evenly;
}

nav a {
	font-size: 22px;
	color: rgb(158, 158, 158);
	text-decoration: none;
}

nav a:hover {
	color: #7c3aed;
}

main {
	margin-top: 8vh;
}

main h1 {
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

.content h1 span {
	color: #7c3aed;
}

.first-section {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}

.content {
	background-color: white;
	padding: 10px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 800px;
}

.content h1 {
	font-size: 5.1vw;
}

.content p {
	font-size: 1.5vw;
	color: rgb(117, 117, 117);
}

.first-section .image-container img {
	clip-path: polygon(34% 0, 100% 0, 100% 100%, 20% 100%);
	height: 90vh;
}

.intro-buttons button {
	margin-top: 20px;
	margin-right: 10px;
	padding: 20px 30px;
	font-size: 23px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
}

.intro-buttons button:first-child {
	background-color: #5b3aed;
	color: white;
}

.intro-buttons button:first-child:hover {
	background-color: #6e4eff;
}

.intro-buttons button:last-child {
	background-color: aliceblue;
	color: #5b3aed;
}

.intro-buttons button:last-child:hover {
	background-color: rgb(222, 240, 255);
}

button:focus {
	outline: none;
}

.second-section {
	margin: 20vh 5vw;
}

.second-section .features-heading {
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	padding: 0 230px;
	color: rgb(117, 117, 117);
}

.second-section .features-heading h1 {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
}

.features {
	margin: 50px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	height: 50vh;
}

.feature {
	width: 40vw;
	display: flex;
}

i {
	background-color: #521ab3;
	color: white;
	padding: 10px;
	border-radius: 5px;
	height: 35px;
	width: 50px;
	margin: 10px;
}

.third-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10vw;
}

.team-content h1 {
	font-size: 3vw;
	margin-bottom: 10px;
}

.avatar img {
	height: 100px;
	width: 80px;
	border-radius: 50%;
}

.third-section .team-content {
	width: 50%;
	font-size: 20px;
	color: rgb(117, 117, 117);
}

.avatars-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.avatar {
	width: 40%;
	margin: 10px 20px;
	display: flex;
}

.avatar-name {
	font-size: 25px;
	font-weight: bold;
}

.avatar-post {
	font-size: 18px;
	color: #7c3aed;
	font-weight: bold;
}

.avatar > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 30px;
}

.fourth-section {
	display: flex;
	justify-content: space-between;
	margin-top: 20vh;
}

.fourth-section img {
	width: 50%;
}

.fourth-section .support-content {
	background-color: #441d88;
	width: 50%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
}

.fourth-section .support-content span {
	color: rgb(189, 189, 189);
}

.fourth-section .support-content h2 {
	font-size: 38px;
}

.fourth-section .support-content p {
	font-size: 20px;
	color: rgb(231, 231, 231);
}

.fourth-section .support-content button {
	height: 50px;
	width: 300px;
	margin-top: 30px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	background-color: white;
	border-radius: 20px;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: rgb(224, 224, 224);
}

.info {
	width: 30%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: rgb(100, 100, 100);
	padding: 30px 30px;
	font-size: 23px;
}

.info i {
	background-color: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

.info i:hover {
	color: rgb(71, 71, 71);
}

.links {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 4vh;
}

.links span {
	color: rgb(141, 141, 141);
	font-size: 18px;
}

.links ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 15vh;
}

.links ul li {
	cursor: pointer;
}

.newsletter-section {
	display: flex;
}

.newsletter-section img {
	width: 50%;
	clip-path: polygon(27% 0, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.newsletter-section h2 {
	font-size: 40px;
}

.newsletter-section .input-group {
	margin-top: 30px;
}

.input-group input {
	font-size: 25px;
	margin-right: 10px;
	padding: 8px;
}

.input-group button {
	padding: 13px 20px;
	font-size: 20px;
	border-radius: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.stats-section {
	display: flex;
	/* margin: 20vh 0; */
	min-height: 100vh;
	align-items: center;
	background-color: rgb(236, 236, 236);
}

.stats-section img {
	width: 50%;
}

.stats-info {
	width: 50%;
	margin: 0 5%;
}

.stats-info h1 {
	font-size: 40px;
}

.stats-info p {
	color: rgb(158, 158, 158);
	font-size: 20px;
}

.stats-numbers {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}

.stats-numbers span h3 {
	color: #7c3aed;
	font-size: 35px;
}

.stats-numbers span {
	font-size: 25px;
}
